@import 'variables';

.cp-container{
    height: 900px;
    width: 1440px;
    background-color: #404A56;
    .cp-padlock{
        position: absolute;
        width: 91.67px;
        height: 91.67px;
        top: 238px;
        bottom: 570.33px;
        left: 675px;
        right: 673.33px;
        background: #0060E6;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        z-index: 1;
        .cp-padlock-top{
            position: absolute;
            width: 27.5px;
            height: 34.83px;
            top: 22.92px;
            left: 32.08px;
            right: 32.08px;
            background: #0060E6;
            border: 2px solid #FFFFFF;
            border-radius: 13px;
            z-index: 2;
        }
        .cp-padlock-bottom{
            position: absolute;
            width: 45.83px;
            height: 27.5px;
            top: 41.25px;
            bottom: 22.92px;
            left: 22.92px;
            right: 22.92px;
            background: #0060E6;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            z-index: 2;
            .cp-padlock-centre{
                position: absolute;
                width: 5px;
                height: 5px;
                bottom: 11px;
                left: 18.33px;
                background: #0060E6;
                border: 2px solid #FFFFFF;
                border-radius: 50px;
                z-index: 2;
            }
        }
    }
    .cp-dialog{
        position: absolute;
        width: 577px;
        height: 378px;
        top: 285px;
        left: 432px;
        background: #FFFFFF;
        border-radius: 20px;
        border-top: 27px solid #0060E6;
        text-align: center;
        .cp-header{
            position:absolute;
            width: 108px;
            height: 32px;
            top: 70px;
            bottom: 276px;
            left: 227px;
            right: 242px;
            .cp-header-label{    
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                color: #0060E6;
            }
        }
        .cp-header-sub{
            position:absolute;
            width: 517px;
            height: 28px;
            top: 127px;
            left: 23px;
            right: 37px;
            .cp-header-sub-label{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #827F7F;
                text-align: center;
            }
        }
        .cp-password-input-div{
            position: absolute;
            top: 200.5px;
            bottom: 134px;
            left: 62px;
            .cp-password-input{
                height: 43.5px;
                width: 452px;
                border-radius: 8px;
                border:2px solid #B3B3B3;
                
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
            }
        }
        .btns-panel{
            display: inline-flex;
        }
        .submit-div{
            position: absolute;
            top: 290px;
            bottom: 52px;
            left: 306px;
            right: 162px;
            .submit-btn{
                background-color: #0060E6;
                padding: 8px 24px;
                width: 109px;
                height: 36px;
                border: 0;
                border-radius: 20px;
                .submit-label{
                    width: 61px;
                    height: 20px;
                    color: #FFFFFF;
            
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
        .cancel-div{
            position: absolute;
            top: 290px;
            bottom: 52px;
            left: 175px;
            right: 298px;
            .cancel-btn{
                color: #F6F6F6;
                padding: 8px 24px;
                width: 104px;
                height: 36px;
                border: 0;
                border-radius: 20px;
                .cancel-label{
                    color: #B3B3B3;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19.5px;
                    text-align: center;
                }
            }
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #B3B3B3;
            position: absolute;
            width: 113px;
            height: 18px;
            left: 7px;
            top: 11px;
            bottom: 14px;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
        }
    }
}