<div class="cp-container">
    <div class="cp-padlock">
        <div class="cp-padlock-top"></div>
        <div class="cp-padlock-bottom">
            <div class="cp-padlock-centre"></div>
        </div>
    </div>
    <div class="cp-dialog">
        <div class="cp-header"><label class="cp-header-label">Password</label></div>
        <div class="cp-header-sub"><label class="cp-header-sub-label">Please create a new password.</label></div>
        <div class="cp-password-input-div"><input type="password" class="cp-password-input" name="cp-input"
                placeholder="New Password">
        </div>
        <!-- <div class="btns-panel"> -->
        <div class="cancel-div"><button class="cancel-btn"><label class="cancel-label">Cancel</label></button></div>
        <div class="submit-div"><button type="submit-btn" class="submit-btn"><label
                    class="submit-label">Submit</label></button></div>
        <!-- </div> -->
    </div>
</div>